# Ignore virtual environment
web-base/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore SQLite database
db.sqlite3

# Ignore VS Code settings
.vscode/

# Ignore system files
*.log
.DS_Store
Thumbs.db

# Ignore environment files
.env
